<h3>Movies</h3>
<hr />
<ul>
  <li *ngFor="let movie of movies$ | async; let i = index">
    {{ i + 1 }}, {{ movie.name }}
    <button (click)="addToCollection(movie)">Add to my collection</button>
  </li>
</ul>
<br />

<h3>Collection</h3>
<hr />
<ng-container *ngIf="collection$ | async as collection">
  <ul *ngIf="collection?.length; else empty">
    <li *ngFor="let movie of collection; let i = index">
      {{ i + 1 }}, {{ movie.name }}
    </li>
  </ul>
</ng-container>
<ng-template #empty>Empty</ng-template>
